*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
    font-weight: 300;
}

li span {
    text-transform: capitalize;
}

li span:hover {
    color: black;
}

:root {
    font-family: "poppins", sans-serif;
    --font-secondary: "Redacted Script",
        cursive;
    --clr-text-title: #414141;
    --clr-gray: #eee;
}